/* 使所有表格宽度100% */
.vp-doc table {
  width: 100%;
  display: table;
}

/* 表格样式增强 */
.vp-doc th, .vp-doc td {
  padding: 12px 16px;
  border: 1px solid var(--vp-c-divider);
}

.vp-doc th {
  background-color: var(--vp-c-bg-soft);
}